/*
	The XXX Club Official Color Palette
*/

/*  Mono */
$black: #000;
$white: #fff;

/*  Grey */
$grey1: #1C1B21;
$grey2: #575759;
$grey3: #575759;
$grey4: #C4C4C4;
$grey5: #E1E1E1;
$grey6: #ECECEC; /* Metadata section of club cam cards */
$grey7: #bdbdbd;

/* Brand reds */
$brandredMain: #8F0606;
$red2: #933547;
$red3: #EE403F;
$red4: #FF8079;

/*  Alternative colors */
$alternative1: #2A3950;
$alternative2: #41436A;
$alternative3: #974063;
$alternative4: #F54768;
$alternative5: #FF9678;

/*  Errors */
$warning1: #C4211C;
$warning2: #E34440;
$warning3: #F59B66;
$warning4: #F7BA79;

/*  Alerts */
$alert1: #E5DD0D;
$alert1: #FFF50A;
$alert1: #FFFB97;

/*  Green */
$green1: #05BE70;
$green2: #13CD80;
$green3: #08D57F;
$green4: #12EB90;
$green5: #A7C585;

/*  Golden */
$golden1: #CCAB4E;
$golden2: #CA9C6B;
$golden3: #DBBD9B;
$golden4: #ECBB30;

/*  Linear set 1 */
$linearSet1: #FF3E9D;
$linearSet2: #0F1F40;

$purple1: #9B51E0;

$alert2: #FFF50A;
$alert3: #FFFB97;